/******************   公共样式       *********************/
/******************   公共样式       *********************/
body{
	overflow: hidden;
}
#All{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}
.content{
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.content .imgs{
	position: absolute;
}
/******************   第一屏    *********************/
.first{
	background: url(../img/bg1/pic_01.jpg) center center no-repeat;
}
.logo{
	width: 375px;
	height: 26px;
	background: url(../img/bg1/logo.png) no-repeat;
	position: relative;
	top: 3%;
	left: 50%;
	margin-left: -167px;
	transition: 1.6s;
	opacity: 0;
}
.logo a{
	height: 100%;
	position: absolute;
	z-index: 10;
}
.logo a:nth-of-type(1){
	width: 108px;
	left: 0px;
}
.logo a:nth-of-type(2){
	width: 110px;
	left: 130px;
}
.logo a:nth-of-type(3){
	width: 120px;
	left: 260px;
}
.big_pic{
	position: absolute;
	width: 555px;
	height: 177px;
	left: 442px;
	top: 135px;
	background: url(../img/bg1/wyb.png) no-repeat;
	display: none;
	transform: scale(1.4);
}
.img1{
	width: 100%;
	height: 662px;
	background: url(../img/bg1/pic_1.png) no-repeat;
}
.img2{
	position: absolute;
	width: 100%;
	height: 395px;
	background: url(../img/bg1/pic_2.png) no-repeat;
	top: 500px;
	left: 0;
}
.img3{
	position: absolute;
	width: 100%;
	height: 395px;
	background: url(../img/bg1/pic_3.png) no-repeat;
	top: 600px;
	left: 0;
}
.title{
	width: 480px;
	line-height: 1.8rem;
	text-align: left;
	color: #94a7c6;
	z-index: 2;
	position: absolute;
	top: 52%;
	left: 50%;
	margin-left: -200px;
	visibility: hidden;
	opacity: 0;
	transition: 1.2s;
}
/*.big_pic{
	width: 500px;
	height: 160px;
	left: 50%;
	top: 18%;
	margin-left: -250px;
	background: url(../img/bg1/wyb.png) no-repeat;
	z-index: 3;
	/*position: relative;*/
	/*display: none;*/
	/*transform: scale(1.3);*/
/****************      第二屏      ********************/
.second{
	background: url(../img/bg2/pic_2.jpg) center center no-repeat;
}
.vision{
	position: absolute;
	top: 144px;
	left: 400px;
	font-size: 24px;
	line-height: normal;
	color: #c9c87d;
}
/*@-webkit-keyframes move{
	0%{
		opacity: 0;
		transform: translateX(0);
	}
	100%{
		opacity: 1;
		transform: translateX(180px);
	}
}
@-webkit-keyframes move2{
	0%{
		opacity: 1;
		transform: translateX(180px);
	}
	100%{
		opacity: 0;
		transform: translateX(380px);
	}
}*/
/*@-webkit-keyframes move3{
	0%{
		opacity: 0;
		transform: translateX(380px);
	}
	100%{
		opacity: 1;
		transform: translateX(180px);
	}
}*/
.email{
	width: 430px;
	font-size: 16px;
	line-height: 1.6rem;
	color: #fffde1;
	position: absolute;
	top: 378px;
	left: 30px;
	opacity: 0;
	transition: 0.8s;
	/*transition-delay: .7s;*/
	/*规定以慢速开始和结束的过渡效果*/
	/*transition-timing-function:ease-in-out;*/
	/*opacity: 1;*/
	/*animation: move 1s linear .7s alternate;*/
	/*animation-fill-mode: both;*/
}

.heart{
	width: 513px;
	height: 45px;
	background: url(../img/bg2/heart.png) no-repeat;
	top: 195px;
	left: 400px;
}
.arrows{
	width: 53px;
	height: 71px;
	background: url(../img/bg2/arrows.png) no-repeat;
	right: 562px;
    top: 326px;
    z-index: 2;
}
.write{
	width: 440px;
	height: 300px;
	background: url(../img/bg2/write.png) no-repeat;
	top: 400px;
	right: 0px;
	z-index: 3;
	opacity: 0;
}
.paper{
	width: 892px;
	height: 430px;
	background: url(../img/bg2/paper.png) no-repeat;
	top: 627px;
	left: 380px;
	opacity: 0;
}
/***************       第三屏     ********************/
.thirdly{
	background: url(../img/bg3/pic_3.jpg) center center no-repeat;
}
.thirdly .vision{
	color: #a0b4cb;
}
.skin{
	position: absolute;
	color: #798fa6;
    width: 510px;
    left: 50%;
    margin-left: -255px;
    top: 460px;
    font-size: 16px;
    line-height: 1.9;
}
.thirdly .heart{
	background: url(../img/bg3/pic_1.png) no-repeat;
}
.beau2{
	width: 1019px;
    height: 248px;
    left: 50%;
    margin-left: -510px;
    top: 800px;
    z-index: 3;
    background: url(../img/bg3/pic_2.png) no-repeat;
}
.beau3{
	width: 1230px;
    height: 362px;
    left: 50%;
    margin-left: -615px;
    top: 700px;
     background: url(../img/bg3/pic_3.png) no-repeat;
    z-index: 2;
}
.beau4{
	width: 1228px;
    height: 353px;
    left: 50%;
    margin-left: -614px;
    top:800px;
    background: url(../img/bg3/pic_4.png) no-repeat;
    z-index: 2;
}
/***************       第四屏     ********************/
.fourth{
	background: url(../img/bg4/pic_4.jpg) no-repeat;
}
.fourth .vision{
	color: #999fac;
}
.fourth div:nth-of-type(1){
	width: 513px;
	height: 45px;
	background: url(../img/bg4/pic1.png) no-repeat;
	top: 193px;
	left: 50%;
	margin-left: -256px;
}
.fourth .imgs{
	width: 165px;
	height: 180px;
	top: 340px;
}
.listpic1{
	background: url(../img/bg4/listpic1.png) no-repeat;
	left: 100px;
	opacity: 0;
}
.listpic2{
	background: url(../img/bg4/listpic2.png) no-repeat;
	left: 200px;
	opacity: 0;
}
.listpic3{
	background: url(../img/bg4/listpic3.png) no-repeat;
	right: 400px;
	opacity: 0;
}
.listpic4{
	background: url(../img/bg4/listpic4.png) no-repeat;
	right: 150px;
	opacity: 0;
}
.text{
	position: absolute;
	width: 208px;
	color: #fff;
	top: 520px;
}
.text h4{
	font-size: 23px;
    line-height: normal;
    margin-bottom: 12px;
    font-weight: normal;
}
.text p{
    font-size: 14px;
    line-height: 24px;
}
.text1{
	left: 100px;
	opacity: 0;
}
.text2{
	left: 350px;
	opacity: 0;
}
.text3{
	right: 350px;
	opacity: 0;
}
.text4{
	right: 110px;
	opacity: 0;
}
/***************       第五屏     ********************/
.fifth{
	background: url(../img/bg5/pic_5.jpg) no-repeat;
}
.fifth .vision{
	color: #5f7588;
}
.fly{
	width: 513px;
	height: 45px;
	background: url(../img/bg5/pic1.png) no-repeat;
	top: 193px;
	left: 50%;
	margin-left: -256px;
}
.flylist{
	position: absolute;
    width: 565px;
    left: 410px;
    top: 500px;
    font-size: 16px;
    line-height: 1.9;
    color: #566775;
}
.fly1{
	width: 1073px;
	height: 230px;
	background: url(../img/bg5/pic2.png) no-repeat;
	top: 700px;
	left: 50%;
	margin-left: -536px;
}
/*.flys{
	position: absolute;
	width: 500px;
	top: 180px;
	left: 190px;
}*/
.fly2{
	width: 164px;
	height: 117px;
	background: url(../img/bg5/pic3.png) no-repeat;
	top: 1200px;
	left: 800px;
}
.fly3{
	width: 70px;
	height: 29px;
	background: url(../img/bg5/pic4.png) no-repeat;
	top: 900px;
	left: 500px;
}
.fly4{
	width: 43px;
	height: 26px;
	background: url(../img/bg5/pic5.png) no-repeat;
	top: 700px;
	left: 400px;
}
/***************       第六屏     ********************/
.sixth{
	background: url(../img/bg6/pic_6.jpg) no-repeat;
}
.sixth .vision{
	color: #969ba0;
}
.link1{
    width: 420px;
    right: 180px;
    top: 800px;
    font-size: 16px;
    line-height: 1.9;
	color: #eaeff2;
}
.link2{
	width: 420px;
    right: 180px;
    top: 900px;
    font-size: 16px;
    line-height: 1.9;
	color: #eaeff2;
}
.lxm1{
	width: 561px;
    height: 44px;
    left: 400px;
    top: 207px;
    background: url(../img/bg6/pic1.png) no-repeat;
}
.lxm2{
	width: 651px;
    height: 217px;
    left: 70px;
    top: 640px;
    background: url(../img/bg6/pic2.png) no-repeat;
    z-index: 2;
}
.lxm3{
	width: 100%;
    height: 209px;
    bottom: -260px;
    left:  0px;
    background: url(../img/bg6/pic3.png) no-repeat;
    z-index: 3;
}
.lxm4{
	width: 699px;
    height: 201px;
    left: 10px;
    top:710px;
    background: url(../img/bg6/pic4.png) no-repeat;
    z-index: 1;
}
.lxm5{
	width: 182px;
    height: 206px;
    left: 423px;
    top: 700px;
    z-index: 1;
    opacity: 0;
    background: url(../img/bg6/pic5.png) no-repeat;
}
/***************       第七屏     ********************/
.seventh{
    background: url(../img/bg7/pic_7.jpg) no-repeat;
}
.seventh .vision{
	color: #43efca;
	left: 430px;
}
.talk1{
	width: 609px;
    height: 45px;
    left: 432px;
    top: 190px;
    background: url(../img/bg7/pic1.png) no-repeat;
}
.talk2{
	width: 89px;
    height: 90px;
    left: 320px;
    top: 150px;
    background: url(../img/bg7/pic2.png) no-repeat;
}
.talk3{
	width: 241px;
    height: 311px;
    left: -60px; 
    top: 341px;
    opacity: 0;
    background: url(../img/bg7/pic3.png) no-repeat;
}
.talk4{
	width: 264px;
    height: 303px;
    left: 520px;
    top: 320px;
    background: url(../img/bg7/pic4.png) no-repeat;
}	
.talk5{
	width: 325px;
    height: 311px;
    right: -150px;
    top: 341px;
    /*opacity: 0;*/
    background: url(../img/bg7/pic5.png) no-repeat;
}	
/***************       第八屏     ********************/
.eighth{
    background: url(../img/bg8/pic_8.jpg) no-repeat;
}
.bot1{
	width: 465px;
    height: 79px;
    left: 440px;
    top: 525px;
    background: url(../img/bg8/pic1.png) no-repeat;
    z-index: 5;
}
.bot2{
	width: 555px;
    height: 37px;
    left: 400px;
    top: 745px;
    background: url(../img/bg8/pic2.png) no-repeat;
    z-index: 6;
}
.bot3{
	display: block;
	width: 254px;
    height: 70px;
    cursor: pointer;
    left: 540px;
    top: 800px;
    background: url(../img/bg8/btn.png) no-repeat;
     z-index: 10;
}
.bot4{
	width: 1274px;
    height: 548px;
    left: 45px;
    top: 46px;
    background: url(../img/bg8/pic3.png) no-repeat;
}
