.Frist{
	width: 1464px;
	background: url(../img/plan/1floor/pic_big-1.jpg) no-repeat;
	margin-left: -115px;
}
.Frist1{
	width: 1200px;
	height: 336px;
	margin: 0 auto;
	
}
.Frist1 img{
	width: 1600px;
	height: 336px;
}
.Frist2{
	width: 645px;
	height: 310px;
	border: 6px solid #00afc7;
	margin-top: 14px;
	margin-left: 200px;
	background: #FFFFFF;
}
.Frist3{
	width: 645px;
	height: 49px;
	position: relative;
}
.Frist4 a{
	font-size: 25px;
	color: #000;
	font-family: "微软雅黑";
	height: 49px;
	line-height: 49px;
	margin-left: 15px;
}
.Frist5{
	position: relative;
}
.Frist5 .Frist0{
	font-size: 11px;
	color: #268fc5;
	line-height: 49px;
	margin-right: 85px;
}
.Frist6{
	width: 21px;
	height: 11px;
	background: url(../img/plan/icon4-1.jpg) no-repeat;
	position: absolute;
	top: 19px;
	right: 60px;
	
}
.Frist7{
	width: 24px;
	height: 9px;
	position: absolute;
	top: 20px;
	right: 21px;
}
.Frist8{
	width: 5px;
	height: 9px;
	background: url(../img/sprite-1---.jpg) no-repeat -143px -4px;
}
.Frist9{
	width: 5px;
	height: 9px;
	background: url(../img/sprite-1---.jpg) no-repeat -152px -4px;
}
.sencod{
	width: 605px;
	height: 40px;
	margin-left: 25px;
	position: relative;
}
.sencod1{
	width: 100px;
	height: 40px;
	margin-top: -1px;
	border-bottom: 2px solid #098cb5;
}
.sencod1 a{
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	line-height: 40px;
	margin-left: 21px;
}
.sencod2 a{
	font-size: 14px;
	color: #666666;
	line-height: 40px;
	margin-left: 21px;
}
.sencod3 a{
	font-size: 12px;
	color: #999999;
	line-height: 40px;
	margin-right: 3px;
}
.sencod3 i{
	width: 12px;
	height: 15px;
	background: url(../img/sprite-1---.jpg) no-repeat 0 -89px;
	position: absolute;
	top: 11px;
	right: 82px;
}
.TTT{
	width: 615px;
	height: 218px;
	border-top: 1px solid #97d3d9;
	background: #f5fbfd;
	margin-left: 15px;
}
.input1{
	width: 552px;
	height: 80px;
	margin-left: 30px;
}
#tao{
	width: 216px;
	height: 30px;
	border: 1px solid #cccccc;
	padding-left: 24px;
}
.input2{
	width: 242px;
	height: 82px;
	position: relative;
}
.input3{
	width: 242px;
	height: 32px;
}
.input4{
	width: 11px;
	height: 12px;
	background: url(../img/sprite-1.jpg) no-repeat -43px -63px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.input5{
	width: 13px;
	height: 16px;
	background: url(../img/sprite-1.jpg) no-repeat -20px -94px;
	position: absolute;
	top: 7px;
	right: 7px;
	
}
.input6{
	width: 242px;
	height: 32px;
	margin-top: 16px;
	position: relative;
}
.input7{
	width: 11px;
	height: 12px;
	background: url(../img/sprite-1.jpg) no-repeat -27px -79px;
	position: absolute;
	top: 9px;
	left: 9px;
}
.input8{
	width: 13px;
	height: 16px;
	background: url(../img/sprite-1.jpg) no-repeat -20px -94px;
	position: absolute;
	top: 7px;
	right: 7px;
}
.input0{
	width: 22px;
	height: 56px;
	background: url(../img/sprite-1.jpg) no-repeat -1px -217px;
	position: absolute;
	top:13px;
	left: 246px;
}
.inputt{
	width: 242px;
	height: 82px;
	position: relative;
}
#tie{
	width: 204px;
	height: 30px;
	border: 1px solid #cccccc;
	padding-left: 36px;
}
.inputt1{
	width: 218px;
	height: 32px;
}
.inputt2{
	width: 24px;
	height: 12px;
	background: url(../img/sprite-1.jpg) no-repeat 0 -153px;
	position: absolute;
	top: 11px;
	left: 7px;
}
.inputt3{
	width: 23px;
	height: 12px;
	background: url(../img/sprite-1.jpg) no-repeat -59px -78px;
	position: absolute;
	top: 10px;
	right: 26px;
}
.inputt4{
	width: 17px;
	height: 16px;
	background: url(../img/sprite-1.jpg) no-repeat -61px -57px;
	position: absolute;
	top: 6px;
	right: 5px;
}
#ao{
	width: 240px;
	height: 30px;
	border: 1px solid #dddddd;
	background: #fbfbfb;
}
.inputt5{
	width: 240px;
	height: 30px;
	margin-top: 16px;
	position: relative;
}
.inputt6{
	width: 23px;
	height: 12px;
	background: url(../img/sprite-1.jpg) no-repeat -48px -94px;
	position: absolute;
	top: 10px;
	left: 6px;
}
.inputt7{
	width: 17px;
	height: 16px;
	background: url(../img/sprite-1.jpg) no-repeat -21px -120px;
	position: absolute;
	top: 6px;
	right: 5px;
}
.hover{
	width: 615px;
	height: 85px;
}
.hover1{
	width: 220px;
	height: 85px;
	padding-left: 32px;
}
.hover1 a{
	display: block;
	font-size: 12px;
	color: #dc0000;
	padding-top: 19px;
	margin-bottom: 7px;
}
.hover1 .hover2{
	font-weight: bold;
}
.hover1 .hover3{
	font-size: 12px;
	color: #757575;
}
.hover4{
	width: 148px;
	height: 57px;
	margin-left: 41px;
	padding-top: 28px;
	position: relative;
}
.hover4 a{
	font-size: 12px;
	color: #0e82bf;
}
.hover4 i{
	width: 14px;
	height: 18px;
	background: url(../img/sprite-1.jpg) no-repeat -47px -116px;
	position: absolute;
	top: 25px;
	left: -20px;
}
#take{
	width: 132px;
	height: 40px;
	background: #ff5622;
	border: 0;
	border-radius: 2px;
	font-size: 17px;
	letter-spacing: 18px;
	color: #FFFFFF;
	padding-left: 18px;
}
.orange1{
	padding-top: 16px;
	padding-right: 30px;
}
.docment{
	width: 1200px;
	margin: 0 auto;
}
.docment_left{
	width: 912px;
}
.docment1{
	width: 912px;
	height: 243px;
	margin-top: 34px;
}
.head{
	width: 912px;
	height: 34px;
}
.head1 a{
	font-size: 23px;
	color: #3983bf;
	font-family: "微软雅黑";
}
.head1{
	width: 96px;
	height: 34px;
	border-bottom: 2px solid #0e83bf;
	padding-right: 13px;
}
.head3{
	width: 144px;
	height: 34px;
	border-left: 1px solid #e7e7e7;
	padding-left: 14px;
}
.head3 a{
	font-size: 23px;
	color: #666666;
	line-height: 34px;
}
.head4{
	height: 34px;
	margin-top: 12px;
	position:relative;
}
.head4 a{
	font-size: 12px;
	color: #0069ca;
	margin-right: 15px;
	line-height: 22px;
}
.head4 i{
	width: 9px;
	height: 7px;
	background: url(../img/sprite-1.jpg) no-repeat -26px -144px;
	position:absolute;
	top: 8px;
	right: 1px;
}
.box{
	width: 910px;
	height: 207px;
	border: 1px solid #e7e7e7;
}
.pic1{
	margin-top: 17px;
	margin-left: 15px;
}
.pic2{
	margin-top: 17px;
	margin-left: 32px;
}
.excel{
	width: 912px;
	height: 456px;
	margin-top: 12px;
}
.Head1{
	width: 912px;
	height: 55px;
}

.Head2{
	width: 243px;
	height: 55px;
}
.Head2 a{
	font-size: 23px;
	color: #0e83c5;
	line-height: 55px;
	font-family: "微软雅黑";
}
.Head4{
	width: 200px;
	height: 55px;
	position: relative;
}
.Head4 li{
	width: 100px;
	height: 55px;
}
.Head4 a{
	display: block;
	font-size: 12px;
	color: #333333;
	line-height: 45px;
	font-family: "微软雅黑";
	padding-left: 21px;
	padding-top: 10px;
}
.lisa i{
	width: 13px;
	height: 7px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -93px -60px;
	position: absolute;
	top: 27px;
	left: 73px;
}
.lise i{
	width: 13px;
	height: 7px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -93px -60px;
	position: absolute;
	top: 27px;
	right: 13px;
}
.Head5{
	width: 277px;
	height: 55px;
}
.Head5 li{
	float: left;
	margin-right: 14px;
}
.Head5 a{
	display: block;
	font-size: 11px;
	color: #333333;
	line-height: 45px;
	margin-top: 10px;
}
.dex{
	width: 44px;
	height: 26px;
	background: #26b4d3;
	margin-top: 20px;
}
.dex a{
	font-size: 11px;
	color: #FFFFFF;
	line-height: 6px;
	margin-left: 10px;
}
.Beijing{
	width: 910px;
	height: 399px;
	border: 1px solid #e7e7e7;
	position: relative;
}
.HOT{
	width: 1px;
	height: 288px;
	border-left: 1px solid #e7e7e7;
	position: absolute;
	top: 33px;
	left: 450px;
}
.Beijing1{
	width: 400px;
	height: 152px;
	margin-top: 14px;
	margin-left: 21px;
}
.Beijing2{
	width: 400px;
	height: 38px;
	position: relative;
}
.casio{
	width: 200px;
	height: 38px;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	line-height: 38px;
	word-spacing: 37px;
}
.casio i{
	width: 27px;
	height: 8px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -71px -130px;
	position: absolute;
	top: 15px;
	left: 35px;
}
.casio1{
	width: 150px;
	height: 38px;
	font-size: 12px;
	color: #666666;
	font-weight: bold;
	line-height: 38px;
	word-spacing: 37px;
}
.casio1 i{
	width: 27px;
	height: 8px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -71px -130px;
	position: absolute;
	top: 15px;
	right: 135px;
}
.casio2{
	height: 38px;
	color: #ff6600;
	line-height: 38px;
	font-weight: bold;
}
.casio2 strong{
	font-size: 17px;
	color: #ff6600;
}
.Henan{
	margin-top: 20px;
}
.HH{
	padding-right: 29px;
}
.Ding{
	width: 868px;
	height: 28px;
	background: #f7fcff;
	margin-left: 21px;
	margin-top: 12px;
}
.Ding1 a{
	display: block;
	font-size: 12px;
	color: #26b4d3;
	font-family: "微软雅黑";
	line-height: 26px;
	margin-top: 2px;
	margin-left: 13px;
}
.Ding2 a{
	font-size: 12px;
	color: #26b4d3;
	line-height: 28px;
}
.Ding2 span{
	font-size: 10px;
	color: #fe0154;
	margin-top: 4px;
}
.Ding2{
	margin-right: 16px;
}
.groud{
	width: 912px;
	height: 628px;
}
.groud1{
	width: 910px;
	height: 571px;
	border: 1px solid #e7e7e7;
}
.HOW{
	width: 1px;
	height: 466px;
	border-left: 1px solid #e7e7e7;
	position: absolute;
	top: 33px;
	left: 450px;
}
.China{
	width: 912px;
	height: 401px;
	margin-top: 12px;
}
.China1{
	width: 912px;
	height: 56px;
}
.China2{
	width: 200px;
	height: 56px;
}
.China2 span{
	display: block;
	font-size: 23px;
	color: #0e83bf;
	font-family: "微软雅黑";
	line-height: 45px;
	height: 45px;
	padding-top: 11px;
}
.God{
	width: 419px;
	height: 56px;
}
.God1{
	width: 28px;
	margin-top: 32px;
}
.God2{
	width: 150px;
	height: 22px;
	border: 1px solid #abadb3;
	margin-top: 26px;
	margin-right: 10px;
	position: relative;
}
.God4{
	font-size: 12px;
	padding-right: 9px;
	padding-left: 7px;
	padding-top: 4px;
}
#input{
	width: 104px;
	height: 22px;
	border: none;
	outline: none;
	float: left;
}
.God3{
	width: 13px;
	height: 16px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -20px -94px;
	margin-top: 2px;
}
.God5{
	margin-right: 0;
}
#God8{
	width: 56px;
	height: 22px;
	background: #0950ec;
	border: 0;
	border-radius: 2px;
	margin-left: 6px;
	margin-top: 26px;
	color: #FFFFFF;
	letter-spacing: 3px;
	padding-left: 3px;
}
.air{
	width: 910px;
	height: 343px;
	border: 1px solid #e7e7e7;
}
.air1{
	width: 910px;
	height: 26px;
	line-height: 26px;
	margin-top: 15px;
	position: relative;
}
.air1 input{
	margin-right: 5px;
	line-height: 26px;
	margin-top: 6px;
}
.shang{
	margin-left: 15px;
}
.xia{
	margin-left: 75px;
}
.lan{
	color: #0066dd;
}
.wrong{
	width: 11px;
	height: 11px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -34px -177px;
	position: absolute;
	top: 8px;
	left: 89px;
}
.wrong1{
	width: 11px;
	height: 11px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -34px -177px;
	position: absolute;
	top: 8px;
	left: 235px;
}
.door{
	width: 109px;
	margin-right: 26px;
	height: 26px;
}
.door a{
	font-size: 12px;
	color: #26b4d3;
	font-family: "微软雅黑";
	line-height: 27px;
}
.door span{
	width: 9px;
	height: 9px;
	background: url(../img/plan/n-1.jpg) no-repeat;
}
.wrong4{
	padding-left: 10px;
}
.aksu{
	width: 912px;
	height: 295px;
	margin-top: 22px;
}
.aksu .aksu_head{
	width: 912px;
	height: 45px;
}
.aksu_head{
	font-size: 23px;
	color: #0e92d1;
	font-family: "微软雅黑";
	height: 45px;
	line-height: 45px;
}
.aksu_body{
	width: 910px;
	height: 248px;
	border: 1px solid #e7e7e7;
}
.aksu_nei{
	width: 260px;
	height: 210px;
	margin-top: 24px;
	margin-left: 21px;
}
.aksu_nei1{
	width: 260px;
	height: 24px;
}
.aksu_nei1 i{
	width: 24px;
	height: 24px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -163px 1px;
}
.aksu_nei1 span{ 
	font-size: 16px;
	color: #268fc5;
	font-family: "微软雅黑";
	height: 24px;
	line-height: 24px;
	padding-left: 11px;
}
.aksu_nei2{
	width: 260px;
	height: 18px;
	margin-top: 12px;
	position:relative;
}
.aksu_nei2 a{
	font-size: 12px;
	color: #333333;
	line-height: 18px;
	padding: 0 7px;
	margin-right:9px;
}
.aksu_nei2 .aksu3{
	height: 18px;
	background: #26b4d3;
	color: #fff;
}
.aksu_nei2 a:hover{
	height: 18px;
	background: #26b4d3;
	color: #fff;
}
.aksu_nei2 .aksu4{
	margin-left: -7px;
}
.aksu_nei2 i{
	width: 9px;
	height: 7px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -26px -144px;
	position: absolute;
	top: 6px;
	left: 138px;
	
}
.hala{
	width: 260px;
	height: 150px;
	margin-top: 6px;
}
.hala li{
	float: left;
	width: 260px;
	height: 30px;
}
.bot1,.bot2,.bot3,.bot4{
	height: 30px;
	line-height: 30px;
}
.hala_bot .bot1{
	width: 146px;
}
.bot1{
	font-size: 12px;
	color: #666666;
}
.bot1 i{
	display: inline-block;
	width: 21px;
	height: 8px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -50px -146px;
	margin-left: 5px;
	padding-right: 6px;
}
.hala_bot .bot2{
	width: 40px;
}
.bot2{
	font-size: 9px;
	color: #666666;
}
.hala_bot .bot3{
	width: 46px;
}
.bot3{
	font-size: 12px;
	color: #26b4d3;
}
.hala_bot .bot4{
	width: 28px;
}
.bot4{
	font-size: 9px;
	color: #ff6600;
}
.aksu_nei3{
	padding-left: 19px;
}
.aksu_nei4 i{
	width: 22px;
	height: 24px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -195px 0;
}
.aksu_nei5 i{
	width: 23px;
	height: 24px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -226px 0;
}
.new{
	margin-top: 32px;
}
.hang{
	width: 912px;
	height: 171px;
	margin-top: 16px;
}
.hang1{
	width: 912px;
	height: 47px;
}
.hang1 a{
	font-size: 23px;
	color: #0e83ca;
	font-family: "微软雅黑";
	line-height: 47px;
}
.hang1 i{
	width: 14px;
	height: 7px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -90px -62px;
	margin: 18px 0 0 6px;
}
.hang_box{
	width: 910px;
	height: 122px;
	border: 1px solid #E7E7E7;
}
.hang2{
	width: 840px;
	height: 92px;
	margin: 17px 0 0 15px;
}
.hang2 li{
	float: left;
	padding-right: 24px;
}
.hang2 a{
	font-size: 12px;
	color: #666666;
	height: 23px;
	line-height: 23px;
}
.hang2 .hang3{
	padding-right: 0;
}
.Tai{
	width: 912px;
	height: 242px;
	margin-top: 21px;
}
.Tai .Tai1{
	width: 912px;
	height: 49px;
	font-size: 23px;
	color: #2e83bf;
	font-family: "微软雅黑";
	line-height: 49px;
}
.Tai2{
	width: 910px;
	height: 191px;
	border: 1px solid #E7E7E7;
}
.Tai3{
	width: 852px;
	height: 151px;
	margin: 17px 0 0 15px;
}
.Tai3 li{
	float: left;
	padding-right: 24px;
}
.Tai3 a{
	font-size: 12px;
	color: #666666;
	height: 23px;
	line-height: 23px;
}
.Tai3 .Tai4{
	padding-right: 0;
}
.docment_right{
	width: 272px;
}
.right_head{
	width: 272px;
	height: 219px;
	margin-top: 32px;
}
.right1{
	width: 272px;
	height: 38px;
	background: #f3f3f3;
}
.right1 a{
	font-size: 12px;
	color: #4c8fc5;
	font-weight: bold;
	line-height: 38px;
	padding-left: 10px;
}
.right1 i{
	width: 9px;
	height: 7px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -26px -144px;
	margin: 13px 11px;
}
.right2{
	width: 272px;
	height: 92px;
	border-bottom: 1px dashed #E7E7E7;
}
.freedom{
	margin: 10px 0 0 10px;
}
.right3{
	width: 180px;
	height: 70px;
	margin: 10px 0 0 8px;
}
.right3 .ou{
	display: block;
	font-size: 11px;
	color: #26b4d3;
	font-weight: bold;
	line-height: 19px;
}
.right3 span{
	display: block;
	font-size: 12px;
	color: #555555;
	line-height: 18px;
}
.right3 .tele{
	color: #ff6600;
	
}
.right4 .right5,.right6 {
	margin-top: 16px;
}
footer{
	margin-top: 55px;
	width: 100%;
}
.foot{
	width: 100%;
	height: 14px;
	text-align: center;
}
.foot a{
	font-size: 12px;
	color: #999999;
	border-right: 1px solid #bb99bb;
	line-height: 12px;
	padding: 0 6px;
	text-align: center;
}
 .foot .b1{
	padding-right: 23px;
	padding-left: 0;
	position: relative;
}
.foot .b2{
	color: #ff5555;
}
.foot .b3{
	border-right: 0;
}
.b1 i{
	width: 7px;
	height: 4px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat -12px -55px;
	position: absolute;
	top: 4px;
	right: 8px;
	margin-left: 6px 0 0 8px;
}
.foot2{
	width: 100%;
	height: 46px;
	text-align: center;
	line-height: 46px;
	font-size:12px;
	color:#999;
	text-align: center;
	position: relative;
}
.foot2 span{
	padding-right: 8px;
}
.foot3{
	padding-left: 19px;
	padding-right: 0;
}
.foot2 i{
	width: 16px;
	height: 15px;
	background: url(../img/plan/1floor/sprite-1.jpg) no-repeat 0 -275px;
	position: absolute;
	top: 13px;
	right: 448px;
	
}
.foot4{
	width: 100%;
	height: 30px;
	text-align: center;
}
.foot4 a{
	padding-right: 10px;
}
.foot5{
	width: 100%;
	height: 130px;
	margin-top: 14px;
}
.foot6{
	width: 959px;
	height: 55px;
	border-top: 1px solid #dddddd;
	margin: 0 auto;
	
	
}
.foot6 dt{
	padding-top: 12px;
	padding-left: 25px;
}
.foot6 dt a{
	font-size: 12px;
	color: #a7a7b3;
	font-weight: bold;
}
.foot6 dd{
	width: 871px;
	padding-left: 14px;
}
.foot6 dd a{
	font-size: 12px;
	color: #a7a7a7;
	letter-spacing: -0.5px;
	border-right: 1px solid #c4a7c4;
	padding: 0 14px 0 7px;
}
.foot8{
	width: 959px;
	height: 55px;
}
.foot8{
	width: 959px;
	height: 50px;
	margin: 0 auto;
}
.foot8 dt{
	padding-left: 25px;
}
.foot8 dt a{
	font-size: 12px;
	color: #a7a7b3;
	font-weight: bold;
}
.foot8 dd{
	width: 871px;
	padding-left: 14px;
}
.foot8 dd a{
	font-size: 12px;
	color: #a7a7a7;
	letter-spacing: -0.5px;
	border-right: 1px solid #c4a7c4;
	padding: 0 14px 0 7px;
}