         /*************   top    ************/
#top{
	width: 100%;
	height: 33px;
	border-top: 1px solid #6b6b6b;
	border-bottom: 1px solid #7acef2;
	background: url(../images/jbs-1.jpg);
}
.top{
	width: 92%;
	height: 33px;
	margin: 0 auto;
}
.top_left{
	float: left;
	height: 33px;
	margin-left: 10px;
	border-right: 1px solid #545454;
}
.top_left li{
	float: left;
	border-left: 1px solid #484848;
	border-right: 1px solid #222222;
}
.top_left .list{
	border-left: 0!important;
	border-right: 0!important;
}
.top_left a{
	display: block;
	width: 39px;
	height: 33px;
} 
.top_left .tlo{
	border-left: 1px solid #4f4f4f;
	background: url(../images/jq-nav-icons.png) no-repeat -7px 0;
	border-left: 0!important;
}
.top_left .tlo:hover{
	background-position: -7px -37px;
}
.top_left .tlt{
	background: url(../images/jq-nav-icons.png) no-repeat -57px 0;
}
.top_left .tlt:hover{
	background-position: -57px -37px;
}
.top_left .tls{
	background: url(../images/jq-nav-icons.png) no-repeat -107px 0;
}
.top_left .tls:hover{
	background-position: -107px -37px;
}
.top_left .tlf{
	background: url(../images/jq-nav-icons.png) no-repeat -156px 0;
}
.top_left .tlf:hover{
	background-position: -156px -37px;
}
.top_left .tlw{
	background: url(../images/jq-nav-icons.png) no-repeat -205px 0;
}
.top_left .tlw:hover{
	background-position: -205px -37px;
}
.top_right{
	height: 33px;
	margin-right: 20px;
	border-left: 1px solid #2d2d2d;
	border-right: 1px solid #505050;
}
.top_right li{
	float: left;
	height: 33px;
	border-left: 1px solid #535353;
	border-right: 1px solid #2a2a2a;
}
.top_right a{
	font-size: 14px;
	color: #e3e7d8;
	line-height: 33px;
	padding-left: 12px;
	padding-right: 12px;
}
                  /*************  header  ************/
.header{
	width: 100%;
	height: 140px;
	background-color: #0669ad;
} 
.logo{
	width: 92%;
	margin: 0 auto;
}   
.logo h1{
	float: left;
	width: 243px;
	height: 61px;
	background: url(../images/logo-jquery.png) no-repeat;
	margin-top: 40px;
}
.logo_right{
	margin-top: 20px;
}
               /***************  content    *************/
.content{
	width: 100%;
	background: #0669ad;
}  
.content1{
	width: 92%;
	margin: 0 auto;
}  
.nav{
	width:100%;
	height: 53px;
	border-top: 1px solid #4781a9;
	border-left: 1px solid #043d68;
	border-right: 1px solid #043d68;
	background: #05568d;
	border-radius: 10px 10px 0 0;
} 
.nav1{
	width: 60%;
	height: 53px;
	padding-left: 32px;
	line-height: 53px;
} 
.nav1 li{
	float: left;
	padding-right: 24px;
} 
.nav1 li a{
	font-size: 11px;
	color: #f7fffd;
	font-weight: bold;
} 
.nav form{
	float: right;
	width: 30%;
	margin-top: 12px;
	border-top: 1px solid #03406d;
	border-bottom: 1px solid #226695;
	border-left: 1px solid #03406d;
	border-right: 1px solid #08436d;
	border-radius: 12px;
	margin-right: 20px;
}
form input{
	width: 330px;
	height: 25px;
	background: #05568d;
	border: 0;
	border-radius: 12px 0 0 12px;
	box-shadow: inset 0 0 8px #00436e;
	outline: none;
}  
.form{
	font-size: 10px;
	color: #ffffe8;
	padding-left: 8px;
}  
.floor1{
	width: 100%;
	background: url(../images/bg-footer-noise.jpg);
}
.pic_left{
	width: 60%;
	padding-top: 23px;
	margin-left: 70px;
}
.pic_top1,.pic_top2,.pic_top3{
	width: 33%;
	text-align: center;
}

.pic_left p{
	padding: 0 20px;
}
.pic_left .pic_top1 p{
	padding: 0 40px;
}
.pic1{
	width: 121px;
	height: 106px;
	background: url(../images/feature-sprites.png)no-repeat 0 -2px;
	margin: 0 auto;
}
.pic2{
	width: 121px;
	height: 106px;
	background: url(../images/feature-sprites.png)no-repeat -140px -2px;
	margin: 0 auto;
}
.pic3{
	width: 121px;
	height: 106px;
	background: url(../images/feature-sprites.png)no-repeat -280px -2px;
	margin: 0 auto;
}
.pic_top1 h3,.pic_top2 h3,.pic_top3 h3{
	font-size: 18px;
	color: #7cd3f1;
	padding-top: 17px;
}
.pic3:hover{
	transition: all 0.6s;
	transform: rotate(180deg);
}
.pic_left p{
	font-size: 12px;
	color: #b8c6c7;
	margin: 5px auto;
}
.pic_left p a{
	font-size: 12px;
	color: #b8c6c7;
	text-decoration: underline;
}
.pic_right{
	width: 28.3%;
	padding-right: 46px;
	
}
.pict_right_top{
	width: 100%;
	height: 79px;
	background: #d08f4f;
	margin-top: 21px;
	position: relative;
	margin-right: 46px;
}
.pict_right_top i{
	width: 48px;
	height: 48px;
	background: url(../images/download.png) no-repeat;
	position: absolute;
	top: 18px;
	left: 37px;
}
.pict_right_top .prt{
	font-size: 22px;
	color: #fafbf5;
	font-weight: bold;
	padding-left: 98px;
	margin-top: 16px;
}
.pict_right_top .prto{
	font-size: 12px;
	color: #f1fcf8;
	font-weight: bold;
	padding-left: 115px;
}
.git{
	padding-top: 16px;
}
.hub{
	padding-top: 9px;
}
.git a,.hub a{
	font-size: 14px;
	color: #b5b7ac;
	text-decoration: underline;
}
.content2{
	width: 100%;
	background: #ffffff;
	
}
.con_left{
	width: 1190px;
	padding: 0 25px;
}
.con_left_top{
	width: 65.22%;
	margin-top: 15px;
}
.con_left_topo{
	width: 100%;
}
.con_left_topo h2{
	width: 100%;
	height: 44px;
	background: url(../images/gauze.png);
}
.con_left_topo .h2{
	font-size: 22px;
	color: #2d2f24;
	font-weight: bold;
	line-height: 44px;
	text-indent: 15px;
}
.con_left_topo p{
	font-size: 15px;
	color: #34342a;
	line-height: 20px;
	margin-bottom: 15px;
	margin-top: 10px;
}
.row{
	padding-left: 20px;
}
.row li{
	float: left;
	width: 25%;
	line-height: 180px;
	text-align: center;
}
.row li img{
	vertical-align:middle;
	max-width: 100%;
}
.width{
	width: 100%;
	margin-top: 10px;
}
.width li{
	float: left;
}
.con_right{
	width: 27.64%;
	margin-top: 15px;
}
.con_right h3{
	font-size: 20px;
    line-height: 20px;
    color: #666;
}
.con_right ul{
	margin-left: 20px;
}
.con_right ul li{
	line-height: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	list-style-type: none;
	background: url(../images/dian-1.jpg) no-repeat 0 10px;
}
.con_right ul li a{
	font-size: 14px;
	color: #b24926;
	font-family: arial;
	text-decoration: underline;
}
.con_right .try{
	margin-top: 10px;
	padding: 0;
}
.con_right .try1{
	background: url(../images/try-jquery.jpg) no-repeat;
	background-size: 100%;
    height: 126px;
    width: 277px;
    text-indent: -9999px;
    display: block;
    max-width: 100%;
}
.content3{
	width: 100%;
}
.content3 h2{
	font-size: 24px;
    line-height: 44px;
    color: #333;
    text-indent: 1em;
}
.bot{
	width: 1190px;
	height: 44px;
	background: url(../images/gauze.png);
	margin-top: 15px;
	margin-bottom: 10px;
}
.content3 h3{
	font-size: 18px;
	color: #575c55;
	line-height: 20px;
	margin-bottom: 10px;
}
.content3 p{
	font-size: 12px;
	color: #3a3120;
	line-height: 22px;
}
.sp{
	width: 68px;
	height: 19px;
	background: #e6e6e6;
	border-radius: 2px;
}
.hot{
	width: 100%;
	height: 46px;
	background: #eeeeee;
	margin: 15px 0;
}
footer{
	width: 100%;
	background: url(../images/bg-footer-noise.jpg);
	border-top: 1px solid #7acbf6;
}
.foot{
	width: 91.92%;
	height: 19px;
	background: #ffffff;
	border-radius: 0 0 10px 10px;
	margin: 0 auto;
	margin-top: -1px;
}
.foot_top{
	width:1200px;
	margin: 0 auto;
	padding: 0 20px;
	border-bottom: 1px solid #000000;
}
.center{
	width: 552px;
	height: 235px;
	margin: 0 auto;
}
.center h3{
	width: 550px;
	height: 10px;
	border: 1px solid #000000;
	border-bottom: none;
	border-radius: 4px 4px 0 0;
	position: relative;
	margin-top: 46px;
}
.center h3 span{
	font-size: 16px;
	color: #6d7d8c;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -40px;
	background: url(../images/bg-footer-noise.jpg);
	padding: 0 10px;
}
.books li{
	float: left;
	width: 30%;
	text-align: center;
	margin-top: 19px;
	line-height: 15px;
	padding: 0 9px;
}
.books li img{
	width: 90px;
	height: 112px;
	border: 1px solid #564d46;
	border-radius: 6px;
}
.books li span{
	display: block;
	font-size: 11px;
	color: #aaa;
	line-height: 1.5em;
}
.books li .pi{
	color: #fff!important;
}
.foot_bot{
	width: 91.92%;
	height: 77px;
	border-top: 1px solid #323232;
	margin: 0 auto;
}
.list0{
	float: right;
	margin-top: 11px;
}
.list0 a{
	font-size: 12px;
	color: #86b1aa;
	padding-left: 30px;
	padding-right: 20px;
	position: relative;
}
.list0 i{
	width: 23px;
	height: 21px;
	background: url(../images/sprite1-1.jpg);
	position: absolute;
	top: -3px;
	left: 0;
}
.list0 .list6{
	padding-right: 0;
}
.list2 i{
	background-position: 0 -21px;
}
.list3 i{
	background-position: 0 -42px;
}
.list4 i{
	background-position: 0 -63px;
}
.list5 i{
	background-position: 0 -84px;
}
.list6 i{
	background-position: 0 -105px;
}
.copy{
	width: 40%;
	margin-top: 10px;
	font-size: 11px;
	color: #70747f;
	line-height: 14px;
}
.copy a{
	color: #aaa;
}
.copy1{
	display: block;
	font-size: 10px;
	margin-top: 1em;
} 
.copy1 .mt{
	padding-left: 30px;
	background: url(../images/bot1-2.jpg) left top no-repeat;
}
.copy1 .mc{
	background: url(../images/bot2-2.jpg) no-repeat;
	padding-left: 24px;
	
}
.copy1 .mv{
	background: url(../images/bot3-2.jpg) no-repeat;
	padding-left: 20px;
}
select{
	display: none;
}
