.top{
	width: 100%;
	margin: 0;
}
.top_left{
	margin-left: 27px;
	
}
.top_right{
	margin-right: 0;
}
.nav{
	width: 99.8%;
	height: 86px;
}
.nav1{
	line-height: 40px;
}
form input{
	width: 83%;
}
.pict_right_top{
	float: none;
}
.pic_left{
	float: none;
	height: 140px;
	padding: 0;
	
}
.floor1{
	height: 716px;
}
.pic_right{
	width: 94%;
	padding: 0 20px;
}
.pict_right_top i{
	left: 197px;
}
.pict_right_top .prt{
	padding-left: 258px;
}
.pict_right_top .prto{
	padding-left: 275px;
}
.pic_left{
	width: 100%;
	margin: 0;
}
.pic_left li{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 15px;
}
.content2{
	width: 100%;
}
.con_left{
	padding: 0 15px;
	width: 95.5%;
}
.con_left_top{
	width: 100%;
}
.row{
	width: 100%;
	padding: 0;
}
.row li{
	width: 100%;
	
}
.width{
	
	width: 100%;
}
.width li{
	width: 100%;
	height: 59px;
}
.width li img{
	width: 100%;
	height: 59px;
}
.con_right{
	float: left;
	width: 100%;
}
.content3{
	width: 100%;
}
.content3 .bot{
	width: 100%;
}
footer{
	width: 100%;
	height: 400px;
}
.foot_top{
	width: 100%;
	padding: 0;
}
.center{
	width: 92%;
}
.center h3{
	width: 100%;
}
.books{
	margin-left: 15px;
}
.foot_bot{
	width: 100%;
	height: 114px;
}
.list0{
	width: 100%;
	text-align: center;
}
.copy{
	width: 100%;
	text-align: center;
	line-height: 25px;
}
.copy span{
	margin: 0;
}
