#top{
	display: none;
}
.logo h1{
	margin-left: 100px;
}
.logo_right{
	width: 100%;
}
.logo_right img{
	margin: 0;
}
select{
	width: 100%;
	display: block;
}
.nav1{
	display: none;
}
.nav form{
	width: 100%;
	margin-left: 0;
}
.pic_right{
	padding: 0 12px;
}
.pict_right_top i{
	left: 65px;
}
.pict_right_top .prt{
	padding-left: 125px;
}
.pict_right_top .prto{
	padding-left: 142px;
}
.list0{
	width: 100%;
}
.copy1{
	line-height: 15px;
}
